<body>

<br>
<br>
<div class="container">
  <h3>{{profileDetails.firstName}},
    <br>
    Chcesz dodać post na swoją tablice?
  <br>
    Śmiało !
  </h3>
  <br>
  <br>
  <form>
    <div class="postForm">
      <label for="post">Post</label>
      <textarea class="postForm" id="post" [(ngModel)]="post" name="p" rows="5"></textarea>
      <br>
      <br>
      <button type="submit" class="btn btn-sm animated-button victoria-one"
                (click)="onSubmit()">Wyślij</button>


    </div>
  </form>
  <br>
  <br>
  <a href="/profile">
    <button class="btn btn-sm animated-button victoria-one" type="button">
      Wróć
    </button>
  </a>

</div>
</body>
